.searchbar-textbox {
  min-height: 22px;
  width: 6em;
  min-width: 6em;
  background-color: -moz-field;
}

.autocomplete-textbox-container {
  -moz-box-align: stretch;
}

.textbox-input-box {
  margin: 0;
}

.searchbar-engine-menuitem[selected="true"] > .menu-iconic-text {
  font-weight: bold;
}

/* Engine button */
.searchbar-engine-image {
  height: 16px;
  width: 16px;
  list-style-image: url("moz-icon://stock/gtk-find?size=menu");
  -moz-margin-start: 2px;
}

.searchbar-engine-button {
  -moz-appearance: none;
  min-width: 0;
  margin: 0;
  border: 0;
  -moz-box-align: center;
  background-color: transparent;
}

.searchbar-engine-button > .button-box {
  -moz-appearance: none;
  padding: 2px 0;
  -moz-padding-end: 2px;
  border: 0;
}

.searchbar-dropmarker-image {
  -moz-appearance: toolbarbutton-dropdown !important;
  width: 12px;
  height: 12px;
}

/* Search go button */
.search-go-container {
  -moz-box-align: center;
  color: graytext;
  margin: -1px;
  -moz-margin-start: 3px;
  border: none;
  background-origin: border-box;
}

.search-go-container:-moz-locale-dir(ltr) {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search-go-container:-moz-locale-dir(rtl) {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.search-go-container[button] {
  color: -moz-DialogText;
  -moz-border-start: 1px solid rgba(0,0,0,.35);
  background-image: -moz-linear-gradient(rgb(143,219,69), rgb(115,177,57));
  box-shadow: 0 1px 0 rgba(0,0,0,.1) inset,
              -1px -1px 0 rgba(255,255,255,.2) inset;
}

.search-go-container[button]:hover {
  background-image: -moz-linear-gradient(rgb(163,232,92), rgb(137,196,81));
}

.search-go-container[button]:hover:active {
  -moz-padding-start: 1px;
  -moz-border-start: none;
  box-shadow: 0 0 6.5px rgba(0,0,0,.4) inset,
              0 0 2px rgba(0,0,0,.4) inset;
}

.searchbar-textbox:not([focused="true"]) > .search-go-container[button]:not(:hover) {
  background-image: none;
}

menuitem[cmd="cmd_clearhistory"] {
  list-style-image: url("moz-icon://stock/gtk-clear?size=menu");
}

menuitem[cmd="cmd_clearhistory"][disabled] {
  list-style-image: url("moz-icon://stock/gtk-clear?size=menu&state=disabled");
}

