.searchbar-textbox {
  width: 6em;
  min-width: 6em;
}

.autocomplete-textbox-container {
  -moz-box-align: stretch;
}

.textbox-input-box {
  margin: 0;
  height: 18px;
}

/* ::::: searchbar-engine-button ::::: */

.searchbar-engine-image {
  list-style-image: url("chrome://global/skin/icons/Search-glass.png");
%ifndef WINSTRIPE_AERO
  -moz-image-region: rect(0px 16px 16px 0px);
%endif
  -moz-margin-start: 2px;
}

.searchbar-engine-button {
  -moz-appearance: none;
  min-width: 0;
  margin: 0;
  padding: 0;
  -moz-padding-end: 2px;
  -moz-box-align: center;
  background: none;
  border: none;
}

.searchbar-engine-button > .button-box {
  -moz-appearance: none;
  padding: 0;
  border: 0;
}

.searchbar-dropmarker-image {
  list-style-image: url(mainwindow-dropdown-arrow.png);
  -moz-image-region: rect(0, 13px, 11px, 0);
}

.searchbar-engine-button[open="true"] > .searchbar-dropmarker-image {
  -moz-image-region: rect(0, 26px, 11px, 13px);
}

/* ::::: search-go-button ::::: */
.search-go-label {
  text-align: center;
}

.search-go-container {
  -moz-box-align: center;
  margin: -2px;
  -moz-margin-start: 3px;
  color: #000;
  min-width: 5em;
  max-width: 8em;
 -moz-border-start: 1px solid hsla(0,0%,0%,.1);
  background-origin: border-box;
  background-image: -moz-linear-gradient(#fafbfd, #e5ebf3);
  box-shadow: 0 0 2px hsla(0,0%,100%,.5) inset,
              0 1px 0 hsla(210,54%,20%,.03),
              0 0 4px hsla(210,54%,20%,.2);
}

.search-go-container:active:hover {
  background-image: -moz-linear-gradient(#fafbfd, #e5ebf3);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,.25) 49%, hsla(0,0%,100%,.3) 51%, hsla(0,0%,100%,.4));
  box-shadow: 0 1px 1px hsla(0,0%,0%,.1) inset,
              0 0 2px hsla(0,0%,0%,.3) inset;
}

.searchbar-textbox:not([focused]) > .search-go-container:not(:hover) {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5) inset;
  color: #000; /* override any custom text colors */
}

.search-go-container:-moz-locale-dir(ltr) {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search-go-container:-moz-locale-dir(rtl) {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

/* custom background colors for specific search providers */

.search-go-container[engine="Bing"],
.search-go-container[engine="Yahoo"],
.search-go-container[engine="eBay"],
.search-go-container[engine="Amazon.com"] {
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.65), hsla(0,0%,100%,.47) 49%, hsla(0,0%,100%,.42) 51%, hsla(0,0%,100%,0));
}

.search-go-container[engine="Bing"] {
  background-color: #FFA615;
}

.search-go-container[engine="Yahoo"] {
  color: #fff;
  background-color: #7B0099;
}

.search-go-container[engine="eBay"] {
  color: #fff;
  background-color: #005DAA;
}

.search-go-container[engine="Amazon.com"] {
  background-color: #FF9900;
}
