/*   ***** BEGIN LICENSE BLOCK *****
   - This Source Code Form is subject to the terms of the Mozilla Public License,
   - v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/.
   -
   - Contributor(s):
   -   Jonathan Rietveld <jon.rietveld@gmail.com>
   -
   - ***** END LICENSE BLOCK ***** */
   
@import url("chrome://global/skin/inContentUI.css");

.center {
  -moz-box-pack: center;
  -moz-box-align: center;
}

caption {
  font-size: 20px;
}

#header {
  position: fixed;
  top: 20px;
  width: 100%;
}

#applications-content {
  height: 400px;
}

#landing-content {
  width: 700px;
  height: 200px;
}

prefpane {
/*    height: 400px;*/
}

#header-search {

}

a.inline-link:hover {
  cursor: pointer;
}

h1 {
  -moz-padding-start: 25px;
}

.options-text {
  margin: 0;
  padding: 0;
}

.options-box:hover {
  cursor: pointer;
}

.options-box {
/*  -moz-margin-start: 10px;*/
  -moz-box-align: center;
  border: none;
  background: none;
  box-shadow: none;
  width: 32px;
}

.options-box p {
  margin-top: 4px;
}

.options-icon {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("chrome://browser/skin/preferences/Options.png");
  background-repeat: no-repeat;
}

#general-img {
  background-position: 0 0;
}

.general-img {
  background-position: 0 0;
}

#paneGeneral {
  background-image: url("chrome://browser/skin/preferences/Options.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tabs-img {
  background-position: -32px 0;
}

.content-img {
  background-position: -64px 0;
}

.application-img {
  background-position: -96px 0;
}

.privacy-img {
  background-position: -128px 0;
}

.security-img {
  background-position: -160px 0;
}

.advanced-img {
  background-position: -192px 0;
}

.sync-img {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("chrome://browser/skin/preferences/Options-sync.png");
  background-repeat: no-repeat;
}

.heading {
  font-family: georgia,serif;
  height: 65px;
  background-color: rgba(192,199,210,0.70);
  font-size: 2.75em;
  font-weight: bold;
  -moz-padding-start: 25px;
  padding-top: 10px;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 15px;
  -moz-box-orient: horizontal;
}

.pref-icon {
  -moz-margin-end: 10px;
  height: 36px;
  width: 36px;
}

.pref-icon[type="privacy"] {
  list-style-image: url("chrome://browser/skin/Privacy-48.png");
  height: 48px;
  width: 48px;
}

#addon-home {
  padding: 20px;
}

.nav-button {
  list-style-image: url(chrome://mozapps/skin/extensions/navigation.png);
}

#forward-btn {
  -moz-border-start: none;
}

#back-btn:-moz-locale-dir(ltr),
#forward-btn:-moz-locale-dir(rtl) {
  -moz-image-region: rect(0, 18px, 18px, 0);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#back-btn:-moz-locale-dir(rtl),
#forward-btn:-moz-locale-dir(ltr) {
  -moz-image-region: rect(0, 36px, 18px, 18px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.header-button[disabled="true"] {
  opacity: 0.8;
}

.header-button {
  -moz-appearance: none;
  padding: 1px 3px;
  color: #444;
  text-shadow: 0 0 3px white;
  background: -moz-linear-gradient(rgba(251,252,253,0.95), rgba(246,247,248,0) 49%,
                                    rgba(211,212,213,0.45) 51%, rgba(225,226,229, 0.3));
  background-clip: padding-box;
  border-radius: 2.5px;
  border: 1px solid rgba(31,64,100,0.4);
  border-top-color: rgba(31,64,100,0.3);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25) inset,
              0 0 2px 1px rgba(255, 255, 255, 0.25) inset;
}

#header-search {
  -moz-appearance: none;
  background-color: rgba(255,255,255,0.4);
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  padding-bottom: 2px;
}

#header-search {
  position: absolute;
  top: 0;
  right: 40px;
  margin: 0;
}

#header-search {
  width: 15em;
}

.indent {
  -moz-margin-start: 50px;
}
#paneAdvanced {
  padding-bottom: 20px;
}

#generalPanel {

}

#networkPanel {

}

#updatePanel {

}

#encrytionPanel {

}