html {
  font-family: sans-serif;
  background: -moz-Field;
  color: -moz-FieldText;
}

#sites-table {
  margin-left: auto;
  margin-right: auto;
}

.site-item {
  padding: 15px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid transparent;
  -moz-transition: opacity 200ms ease-out;
  opacity: 1;
}

.site-item[removing] {
  opacity: 0;
}

.image-container {
  border-radius: 2px;
  height: 16px;
  width: 16px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.url-item {
  color: -moz-FieldText;/*-moz-nativehyperlinktext;*/
  font-size: 0.8em;
  text-decoration: none;
  -moz-transition: color 400ms ease-out;
}

.url-item:hover {
  text-decoration: underline;
}

.remove-button {
  border: none;
  background-color: transparent;
  background-image: url("chrome://global/skin/icons/close.png");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  position: relative;
  left: 40px;
  top: 12px;
  -moz-transition: opacity 200ms ease-out;
  opacity: 1;
  cursor: pointer;
}

.site-item:not(:hover) > .remove-button {
  opacity: 0;
}

body[desaturate] .url-item {
  color: graytext;
  -moz-transition: color 400ms ease-in;
}

body[desaturate] .image-container {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
  border-color: rgba(0,0,0,0.5);
  -moz-transition: border-color 400ms ease-in;
                   /*background-image 400ms ease-in;*/
}

body[desaturate] .image-item {
  filter: url(chrome://browser/content/newTab.svg#desaturate);
}
