html {
  font-family: sans-serif;
  background: -moz-Field;
  color: -moz-FieldText;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 10px;
  vertical-align: top;
  max-width: 480px; /* this is based on the width of 3 site items */
  -moz-transition: opacity 200ms ease-out;
  opacity: 1;
}

.section[hiding] {
  opacity: 0;
}

.header-title {
  font-size: 1em;
  font-weight: bold;
  margin-left: 5px;
}

#restore-sites {
  color: rgba(0,0,0,.5);
  font-size: 0.7em;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  float: right;
}

#restore-sites:hover {
  text-decoration: underline;
}

/* Site item styles */

.site-item {
  width: 150px;
  height: 100px;
  padding: 5px;
  position: relative;
  float: left;
  text-align: center;
  -moz-transition: opacity 200ms ease-out;
  opacity: 1;
}

.site-item[removing] {
  opacity: 0;
}

.image-container {
  height: 16px;
  width: 16px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor:pointer;
}

.url-item {
  color: -moz-FieldText;
  font-size: 0.8em;
  text-decoration: none;
  -moz-transition: color 400ms ease-out;
}

.url-item:hover {
  text-decoration: underline;
}

/* Remove buttons */

.remove-button {
  height: 16px;
  width: 16px;
  border: none;
  position: relative;
  background-color: transparent;
  background-image: url("chrome://global/skin/icons/close.png");
  background-repeat: no-repeat;
  cursor: pointer;
  -moz-transition: opacity 200ms ease-out;
  opacity: 1;
}

.header > .remove-button {
  float: left;
  display: none; /* turned off for now */
}

.site-item > .remove-button {
  left: 30px;
  top: 12px;
}

.header:not(:hover) > .remove-button:not(:focus),
.site-item:not(:hover) > .remove-button:not(:focus) {
  opacity: 0;
}
