/*** Panel and outer controls ***/

#downloadsPanel .panel-arrowcontent {
  width: 60ch;
  padding: 0;
}

#downloadsListBox {
  background: transparent;
  padding: 4px;
}

#downloadsHistory {
  height: 3.5em;
  border-top: 1px solid ThreeDShadow;
  color: -moz-nativehyperlinktext;
  cursor: pointer;
  background-image: -moz-linear-gradient(hsla(0,0%,0%,.15), hsla(0,0%,0%,.08) 6px);
}

/*** List items ***/

richlistitem[type="download"] {
  height: 7em;
  margin: 0;
  border-top: 1px solid hsla(0,0%,100%,.2);
  border-bottom: 1px solid hsla(0,0%,0%,.15);
  background: transparent;
  padding: 0;
  color: WindowText;
}

richlistitem[type="download"]:first-child {
  border-top: 1px solid transparent;
}

richlistitem[type="download"]:last-child {
  border-bottom: 1px solid transparent;
}

#downloadsListBox:-moz-focusring > richlistitem[type="download"][selected] {
  outline: 1px #999 dotted;
  outline-offset: -1px;
  -moz-outline-radius: 3px;
}

.downloadInfo {
  padding: 8px;
  -moz-padding-end: 0;
}

.downloadTypeIcon {
  margin-right: 8px;
  /* Prevent flickering when changing states. */
  min-height: 32px;
  min-width: 32px;
}

.blockedIcon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

.downloadTarget {
  margin-bottom: 7px;
  cursor: inherit;
}

.downloadDetails {
  margin-top: 1px;
  opacity: 0.6;
  font-size: 90%;
  cursor: inherit;
}

.downloadButton {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  margin: 6px;
  border: none;
  background: transparent;
  padding: 5px;
  list-style-image: url("chrome://browser/skin/downloads/buttons.png");
}

.downloadButton > .button-box {
  padding: 0;
}

/*** Highlighted list items ***/

richlistitem[type="download"][state="1"] .downloadInfo {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -moz-padding-end: 8px;
}

richlistitem[type="download"][state="1"] .downloadInfo:hover {
  border-radius: 3px;
  border-top: 1px solid hsla(0,0%,100%,.3);
  border-bottom: 1px solid hsla(0,0%,0%,.2);
  background-color: Highlight;
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,100%,0));
  color: HighlightText;
  cursor: pointer;
}

/*
richlistitem[type="download"][state="1"]:hover .downloadButton {
  list-style-image: url(buttons-inverted.png);
}
*/

/*** Button icons ***/

.downloadButton.downloadCancel {
  -moz-image-region: rect(0px, 14px, 14px, 0px);
}
.downloadButton.downloadCancel:hover {
  -moz-image-region: rect(0px, 28px, 14px, 14px);
}
.downloadButton.downloadCancel:active {
  -moz-image-region: rect(0px, 42px, 14px, 28px);
}

.downloadButton.downloadShow {
  -moz-image-region: rect(14px, 14px, 28px, 0px);
}
.downloadButton.downloadShow:hover {
  -moz-image-region: rect(14px, 28px, 28px, 14px);
}
.downloadButton.downloadShow:active {
  -moz-image-region: rect(14px, 42px, 28px, 28px);
}

.downloadButton.downloadRetry {
  -moz-image-region: rect(28px, 14px, 42px, 0px);
}
.downloadButton.downloadRetry:hover {
  -moz-image-region: rect(28px, 28px, 42px, 14px);
}
.downloadButton.downloadRetry:active {
  -moz-image-region: rect(28px, 42px, 42px, 28px);
}

/*** Main indicator icon ***/

#downloads-indicator-icon {
  width: 16px;
  height: 16px;
  list-style-image: url("chrome://browser/skin/Toolbar-small.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

#downloads-indicator-icon:-moz-lwtheme-brighttext {
  list-style-image: url("chrome://browser/skin/Toolbar-inverted.png");
}

#downloads-indicator[attention] #downloads-indicator-icon {
  list-style-image: url("chrome://browser/skin/downloads/download-glow.png");
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

/*** Event notification ***/

#downloads-indicator-notification {
  opacity: 0;
  width: 16px;
  height: 16px;
  list-style-image: url("chrome://browser/skin/downloads/download-notification.png");
}

@-moz-keyframes downloadsIndicatorNotification {
  from { opacity: 0; -moz-transform: scale(1); }
  10%  { opacity: .65; -moz-animation-timing-function: ease-out; }
  to   { opacity: 0; -moz-transform: scale(8); }
}

#downloads-indicator[notification="show"] #downloads-indicator-notification {
  -moz-animation-name: downloadsIndicatorNotification;
  -moz-animation-duration: 3s;
}

/*** Progress bar and text ***/

#downloads-indicator-counter {
  height: 12px;
  margin: 0;
  color: hsl(0,0%,30%);
  text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
  font-family: Lucida Grande, sans-serif, Helvetica;
  font-size: 10px;
  line-height: 10px;
}

#downloads-indicator-progress {
  width: 24px;
  height: 4px;
  min-width: 0;
  min-height: 0;
  margin-top: 1px;
  margin-bottom: 2px;
  border-radius: 2px;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.4);
}

#downloads-indicator-progress > .progress-bar {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  background-image: -moz-linear-gradient(#41a0ff, #2090ff);
  border: 1px solid;
  border-color: hsla(0,0%,0%,.6) hsla(0,0%,0%,.2) hsla(0,0%,0%,.2);
  border-radius: 2px 0 0 2px;
}

#downloads-indicator-progress > .progress-remainder {
  -moz-appearance: none;
  min-width: 0;
  min-height: 0;
  background-image: -moz-linear-gradient(#9a9a9a, #a1a1a1);
  border: 1px solid;
  border-color: hsla(0,0%,0%,.4) hsla(0,0%,0%,.3) hsla(0,0%,0%,.2);
  border-left: none;
  border-radius: 0 2px 2px 0;
}
