/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/inContentUI.css");

html {
  display: table;
  height: 100%;
  width: 100%;
  font-size: medium;
}

body {
  margin: 0;
  padding: 0 1em;
}

html > body,
button {
  font: message-box;
  font-size: 100%;
}

button {
  color: rgb(64,68,72);
}

h1 {
  text-align: center;
  font-size: 100%; /* default: 16px; */
  line-height: 2.25;
  margin-bottom: 0;
}

h2 {
  font-size: 100%;
}

#errorPageContainer {
  min-width: 13em;
  max-width: 36em;
  margin: 4em auto;
  border-radius: 4px;
  background-image: url(chrome://global/skin/inContentUI/messageBox-Warning-Background.png);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat-x;
  box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset,
              0 -2px 0 rgba(10,12,15,0.1) inset,
              0 0 10px rgba(255,255,255,0.5) inset,
              0 0 0 1px rgba(10,12,15,0.1),
              0 2px 4px rgba(10,12,15,0.15);
}

body[dir="rtl"] #errorPageContainer {
  background-position: left bottom, right top;
}

#errorTitle {
  background-color: rgba(255,189,9,0.4);
  background-image: url(chrome://global/skin/inContentUI/messageBox-Header-Stripes.png);
  border-bottom: 2px solid;
  -moz-border-bottom-colors: rgba(255,255,255,0.2) rgba(12,23,38,0.13);
}

#errorLongContent {
  padding: 0 24px 24px;
  font-size: 81.25%; /* default: 13px; */
  line-height: 1.3;
}

#introContentP1 {
  font-size: 125%;
}

.expander > button {
  background: url("chrome://browser/skin/aboutCertError_sectionExpanded.png") left center no-repeat;
  border: none;
  font: inherit;
  cursor: pointer;
  -moz-padding-end: 0;
  -moz-padding-start: 16px;
  -moz-margin-start: -4px;
  box-shadow: none;
}

body[dir="rtl"] .expander > button {
  background-position: right center;
}

.expander[collapsed] > button {
  background-image: url("chrome://browser/skin/aboutCertError_sectionCollapsed.png");
}

body[dir="rtl"] .expander[collapsed] > button {
  background-image: url("chrome://browser/skin/aboutCertError_sectionCollapsed-rtl.png");
}

.indent {
  -moz-padding-start: 16px;
}

button {
  -moz-appearance: none;
  -moz-user-select: none;
  font: message-box;
  padding: 2px 6px;
  background-color: hsla(210,30%,95%,.1);
  background-image: -moz-linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,.1));
  background-clip: padding-box;
  border: 1px solid hsla(210,15%,25%,.4);
  border-color: hsla(210,15%,25%,.3) hsla(210,15%,25%,.35) hsla(210,15%,25%,.4);
  border-radius: 3px;
  box-shadow: 0 1px 0 hsla(0,0%,100%,.3) inset,
              0 0 0 1px hsla(0,0%,100%,.3) inset,
              0 1px 0 hsla(0,0%,100%,.1);
  font-size: 100%;
  line-height: 1.5;
  text-align: center;
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 150ms;
  -moz-transition-timing-function: ease;
  display: block;
  -moz-margin-start: auto;
}

button:hover {
  background-color: hsla(210,30%,95%,.8);
  border-color: hsla(210,15%,25%,.45) hsla(210,15%,25%,.5) hsla(210,15%,25%,.55);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.3) inset,
              0 0 0 1px hsla(0,0%,100%,.3) inset,
              0 1px 0 hsla(0,0%,100%,.1),
              0 0 3px hsla(210,15%,25%,.1);
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 150ms;
  -moz-transition-timing-function: ease;
}

button:hover:active {
  background-color: hsla(210,15%,25%,.2);
  box-shadow: 0 1px 1px hsla(210,15%,25%,.2) inset,
              0 0 2px hsla(210,15%,25%,.4) inset;
  -moz-transition-property: background-color, border-color, box-shadow;
  -moz-transition-duration: 10ms;
  -moz-transition-timing-function: linear;
}
